<div class="stats">
  <div class="stat-item">
    <p class="date">May 2018 - Present:</p>
    <h2>Assistant Vice President, IT</h2>
    <p class="company">AIG - Charlotte, NC</p>
  </div>
  <div class="stat-item">
    <p class="date">October 2017 - May 2018:</p>
    <h2>Software Developer, Consultant</h2>
    <p class="company">Capgemini - Charlotte, NC</p>
  </div>
  <div class="stat-item">
    <p class="date">November 2015 - October 2017:</p>
    <h2>Production & Billing Assistant</h2>
    <p class="company">Court Reporters Clearinghouse (CRC) - Austin, TX</p>
  </div>
</div>
